# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#　My configurations:
.vscode
.xmake
build
vsxmake2019
*.pdb
Engine/System/libs/System/System.dll
Engine/System/libs/System/System.exp
Engine/System/libs/System/System.ilk
Engine/System/libs/System/System.lib
