[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/GochenRyan/imgui.git
	branch = docking
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/GochenRyan/glfw.git
	branch = master
